services:
  postgres:
    image: postgres:17-alpine
    container_name: resumemaster_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: resumemaster_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: